# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Virtual environments
# =========================
.env
venv/
env/
.venv/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Images / outputs (optional)
# =========================
*.png
*.jpg
*.jpeg

# =========================
# Temp files
# =========================
*.tmp
*.bak